{% extends "mypoke/layout.html" %}
{% load static %}

{% block body %}
    <p>Bem-vindo ao pokelike, o website definitivo para descobrir qual Pokémon reflete mais a sua própria personalidade! Se você já se perguntou qual criatura mítica de bolso compartilha traços de caráter e comportamento com você, você está no lugar certo. Com nossa inovadora e avançada tecnologia de análise de personalidade, mergulhe em uma jornada emocionante para desvendar qual Pokémon é o seu verdadeiro espelho espiritual.</p>
    <br><br>
    <center>
        <button class="btn btn-sm btn-outline-primary" id="startquiz">Começar Quiz!</button>
    </center>
    
{% endblock %}

{% block script %}
    <script src="{% static 'mypoke/index.js' %}"></script>
{% endblock %}